# Stripe API keys - see https://stripe.com/docs/development/quickstart#api-keys
STRIPE_PUBLISHABLE_KEY=pk_test_51P69ZH07mFsctoXFJIY9hQ1ucuEhmSGavmeuntApSZJybxNqXzs9yGsrjgsVsYIJtgig8gTUbN37ge4T17BWDzxs00Qref1K0Z
STRIPE_SECRET_KEY=sk_test_51P69ZH07mFsctoXF5aGfXXkD6uenxM9DuP4fvvqL3L7QfQJffVIjyKKr6G4iZ7TuqupdEjVDiKIkaF3t2Z8LrEoR00QX0p4t0t

# Required to verify signatures in the webhook handler.
# See README on how to use the Stripe CLI to test webhooks
STRIPE_WEBHOOK_SECRET=whsec_i1mX20MMGt7lQ2QC7uoZdad7O4c0dLTg

# Path to front-end implementation. Note: PHP has it's own front end implementation.
STATIC_DIR=../../client/html

# For Prebuilt Checkout demo:
PRICE=price_abc123...
DOMAIN=http://localhost:4242

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.
PAYMENT_METHOD_TYPES="card"
